@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    
    <p class="lead">
        <img src="~/images/phone.jpg_1497442182.jpg" style="width:1020px"/></p>
    <div class="underText">
        <h1>Having trouble finding the right phone for you? Check out what others are saying!</h1>
        <p>
            Der er mange tilgængelige udgaver af Lorem Ipsum, men de fleste udgaver har gennemgået forandringer, når nogen har tilføjet humor eller tilfældige ord, som på ingen måde ser ægte ud. Hvis du skal bruge en udgave af Lorem Ipsum, skal du sikre dig, at der ikke indgår noget pinligt midt i teksten. Alle Lorem Ipsum-generatore på nettet har en tendens til kun at dublere små brudstykker af Lorem Ipsum efter behov, hvilket gør dette til den første ægte generator på internettet. 
        </p>
    </div>
    <p><a href="http://localhost:52492/Reviews/Create" class="btn btn-primary btn-lg">Check It Out!</a></p>
</div>

